/vendor/
/node_modules/
.env
.phpunit.result.cache
/storage/*
/storage/cache/*
/cache/*
!/cache/.gitkeep
/logs/*
!/logs/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db
/public/build 
# TODO.md
# ARCHIVED.md
# CHANGES.md