<!DOCTYPE html>
<html lang="{{ APP_LOCALE }}" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                IronFlow
            {% endblock %}
        </title>
        <link rel="icon" href="{{ asset('images/ironflow.ico') }}" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet" />
        {{ vite_assets('app.js') }}
    </head>
    <body class="bg-white dark:bg-black/90 transition-colors duration-200">
        {# Contenu principal #}
        <main>
            {# Contenu de la page #}
            {% block content %}{% endblock %}
        </main>
        
        {% block javascript %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </body>
</html>
